/* Taken from https://github.com/selvagsz/selvagsz.github.io*/
/* Rich Carousel */

.rich-carousel {
  .carousel-item {
    position: relative;
    transition: all 0.4s ease-in-out;
  }


  .carousel-item.left, .carousel-item.right {
    display: block;
  }

  .carousel-item.left, .carousel-item.right {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .carousel-item.left {
    left: 100%;
  }

  .carousel-item.right {
    left: -100%;
  }


  .carousel-item.active.left.slide-out {
    left: -100%;
  }

  .carousel-item.active.right.slide-out {
    left: 100%;
  }


  .carousel-item.left.slide-in, .carousel-item.right.slide-in {
    left: 0;
  }

  .carousel-item.active {
    position: relative;
    left: 0;
  }

}

/* For Line Arrows */
/* Arrows */
/* Taken from http://codepen.io/trongthanh/pen/uvzxa */
.line-arrow {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  font-size: 12px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  cursor: pointer;
}

.line-arrow.left {
  border-top: 2px solid #a9a9a9;
  border-left: 2px solid #a9a9a9;
  transform: rotate(-54deg) skew(-20deg);
  left: 20px;
}

.line-arrow.right {
  border-top: 2px solid #a9a9a9;
  border-right: 2px solid #a9a9a9;
  transform: rotate(54deg) skew(20deg);
  right: 20px;
}

.line-arrow.left:hover, .line-arrow.right:hover {
  border-color: #444;
}

div.desc{
  background-color: #000;
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  display: inline-block;
}

.fix{
  width: 100%;
  padding: 0px;

}
img.img-responsive {
  display: table-cell;
  max-width: 100%;
}
