<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="center">
            <h1 class="h1 text-uppercase text-center">Welcome to Nepal Portal!</h1>
            <p class="text-justify">
                Nepal Portal was developed with the main intention of helping the people by making it easier to find the
                petrol pumps where the fuel is being distributed in this hard time.
            </p>
            {{components/slick-slider}}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
