@import "pods";
@import "bootstrap";
@import "bootstrap/theme";

body {
  padding-top: 55px;
  position: relative;
}

footer	{
  margin-top:	30px;
  padding-top:	5px;
  border-top:	1px	solid	#eaeaea;
  color:	#777;
}
footer	a	{
  color:	#555;
}
footer	a:hover	{
  color:	#222;
}

.social-links {
 padding-left: 5px;
  padding-right: 5px;
}
