#SiteLogo	{
  float:	left;
  margin-right:	10px;
  font-size:	1.7em;
  color:	#fff;
  text-transform:	uppercase;
  letter-spacing:	-1px;
  padding-top:	9px;
  font-weight:	bold;
  padding-left: 10px;
}
#SiteLogo:hover	{
  color:	#fff;
  text-decoration:	none;
}

a:hover {
  cursor: pointer;
}
