:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    padding: 1.5em;
    background-color: #f15ca1;
    color: #fff;
}

.container {
    display: flex;
    flex: 1;
    height: 100vh;
}

.center {
    text-align: center;
}

.main {
    flex: 2;
    border: 1px dotted #ccc;
    margin: 0 2em;
    padding: 0 0.8em;
    line-height: 1.2;
    overflow-y: auto;
}

.nav {
    order: -1;
    background-color: #1e2a2d;
}

.nav > ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0.8em 1.5em;
    font-size: 2rem;
}

.nav a:hover {
    transform: scale(1.2);
    box-shadow: inset 0 0 0 0.2em #fff;
}

.nav, .aside {
    flex: 0 0 25vh;
    /*background-color: #fac11e;*/
    color: #fff;
    padding: 1.5em;
}

.main, .aside {
    margin: 0.8em 1em;
}