.weather-app {
  display: grid;
}

.tabs {
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  background-color: #05bacc;
}

.tab a {
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  padding: .6em 1.2em;
  display: block;
  font-size: 0.85rem;
}

.tab a:hover, a:active {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  cursor: pointer;
}

.tab.active a {
  color: #fff;
  border-bottom: 2px solid #fff;
}