:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1.5em;
}

.box {
    padding: 2em;
    color: #fff;
    font-size: 150%;
    border-radius: .5em;
    text-align: center;
}

h1 {
    grid-column: 1 / -1;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-columns: 3em;
    grid-gap: 1.5em;
}

.grid-1 .box {
    background-color: #bada55;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 300px;
    grid-gap: 1.5em;
}

.grid-2 .box {
    background-color: #10aded;
}

.grid-2 :nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2;
}

.grid-2 :nth-child(3) {
    grid-column: 3;
}

.grid-2 :nth-child(5) {
    grid-column: -1 / 2;
}

.grid-2 :last-child {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.8em;
}

.grid-3 .box {
    background-color: #fa5732;
}

.grid-3 :nth-child(2) {
    grid-column-start: 3;
    grid-row: 2 / span 2;
}

.grid-3 :nth-child(4) {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 4;
}

.grid-3 :last-child {
    grid-area: 2 / 1 / 5 / 1;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
    grid-template-areas:
      "hd  hd   hd"
      "nav main ad"
      "ft  main   ad";
}

.grid-4 header {
    grid-area: hd;
}

.grid-4 * {
    background-color: #fb1;
    color: #fff;
    border: 1px dotted #fff;
}

.grid-4 main {
    grid-area: main;
}

.grid-4 nav {
    grid-area: nav;
}

.grid-4 aside {
    grid-area: ad;
}

.grid-4 ft {
    grid-area: ft;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.grid-5 .box {
    background-color: #1ce;
}

.grid-5 :nth-child(2) {
    grid-column: 1 / 3;
}

.grid-5 :nth-child(5) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

.grid-5 :nth-child(4) {
    grid-row: auto / span 3;
}

.grid-5 :last-child {
    grid-column: auto / span 2;
}

.grid-6 {
    width: 90vw;
    margin: 0 auto;
    height: 600px;
    border: 2px solid #000;
    display: grid;
    grid-gap: .8em;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(5, 100px);
    justify-content: space-around;
    align-content: center;
}

.grid-6 .box {
    background-color: #6a6;
}

.grid-6 :nth-child(2) {
    grid-column: 1 / 4;
}

.grid-6 :nth-child(3) {
    grid-row: 3 / 5;
}

.grid-6 :nth-child(4) {
    grid-column: 2 / 4;
}

.grid-6 :last-child {
    grid-column: span 3;
    align-self: start;
}