:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1.5em;
}

.box {
    padding: 2em;
    color: #fff;
    font-size: 150%;
    border-radius: .5em;
    text-align: center;
}

h1 {
    grid-column: 1 / -1;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-columns: 3em;
    grid-gap: 1.5em;
}

.grid-1 .box {
    background-color: #bada55;
}

.grid-2 {
    display: grid;
    grid-gap: 1.5em;
}

.grid-2 .box {
    background-color: #10aded;
}

/*.three {
    background-color: #10aded;
}

.four {
    background-color: #fa5732;
}*/