.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

a {
  color: #01d1e5;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.tabs {
  display: inline-flex;
  justify-content: space-between;
  background-color: #fff;
  font-size: 1.1rem;
  box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.3);
  z-index: 1;
  
}

.tab a {
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  padding: .5em .6em;
  display: inline-block;
  line-height: 1;
}

.tab a:hover, a:active {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  cursor: pointer;
}

.tab.active a {
  color: #01d1e5;
  border-bottom: 5px solid #01d1e5;
}

.card {
  display: inline-flex;
  background-color: #fff;
  padding: .4em 1.2em;
  margin-top: .7em;
}

.container > :nth-child(2) {
  margin-top: 1.2em;
}

.card:hover, .card:active {
  background-color: #eee;
}

.card .logo {
  align-self: flex-end;
}
.card .logo img {
  width: 60px;
  height: 60px;
}

.card .info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: .8em;
}

.card .info .name {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  position: relative;
}

.card .info .name.online::after, .card .info .name.offline::after {
  content: '\2022';
  color: #000;
  position: absolute;
  font-size: 1.5rem;
  top: -.5em;
  margin-left: .1em;
}

.card .info .name.online::after {
  color: greenyellow;
}

.card .info .name.offline::after {
  color: pink;
}

.card .info .status {
  font-size: .9rem;
  color: rgba(0,0,0,0.7);
  align-self: center;
}

