<clr-alert *ngIf="showMessage" (clrAlertClosedChange)="onClose()">
  <div class="alert-item">
    <span class="alert-text">
      This is an app level alert.
    </span>
  </div>
</clr-alert>
<section class="contact">
  <div class="row">
    <div class="offset-md-1 col-md-10 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <h2 id="contact" class="text-center"><i class="fa fa-address-card" aria-hidden="true"></i> CONTACT</h2>
          <hr class="after-line">
        </div>
          <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
            <section class="form-block">
              <div class="card-text">
              <h3 class="text-md-center">Want to get in touch with me? Feel free to drop me a line</h3>
              <div class="form-group">
                <label for="name"><i class="fa fa-user-circle" aria-hidden="true"></i> Name</label>
                <label for="name"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
                       [class.invalid]="contactForm.get('name').invalid
                        && (contactForm.get('name').dirty || contactForm.get('name').touched)">
                  <input id="name" type="text" formControlName="name">
                  <span class="tooltip-content">Name is required.</span>
                </label>
              </div>
              <div class="form-group">
                <label for="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</label>
                <label for="email"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
                       [class.invalid]="contactForm.get('email').invalid
                        && (contactForm.get('email').dirty || contactForm.get('email').touched)">
                  <input id="email" type="email" formControlName="email">
                  <span class="tooltip-content" *ngIf="contactForm.get('email').errors?.required">Email is required.</span>
                  <span class="tooltip-content" *ngIf="contactForm.get('email').errors?.email">Email is invalid.</span>
                </label>
              </div>
              <div class="form-group">
                <label for="message"><i class="fa fa-comments-o" aria-hidden="true"></i> Message</label>
                <label for="message"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm tooltip-top-left"
                       [class.invalid]="contactForm.get('message').invalid
                        && (contactForm.get('message').dirty || contactForm.get('message').touched)">
                  <input id="message" type="text" formControlName="message">
                  <span class="tooltip-content">Message is required.</span>
                </label>
              </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-primary"
                        type="submit"
                        [disabled]="contactForm.invalid">Submit</button>
              </div>

            </section>
          </form>
      </div>
    </div>
  </div>
</section>
