.img-slide {
  border: 1px solid #ccc;
}

.img-text-layer {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 15px;
  transition: all 0.4s ease-in-out 0s;
}

.img-slide:hover .img-text-layer,
.img-slide:active .img-text-layer {
  opacity: 1;
  border: hidden;
}
.img-caption {
  color: #fff;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
