<div class="slider">
  <div>
    <img data-lazy="http://www.onguardapparel.com/images/products/thumb/8013LN_Cat.jpg" />
  </div>
  <div>
    <img data-lazy="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" />
  </div>
  <div>
    <img data-lazy="http://www.onguardapparel.com/images/products/thumb/1600ETY.JPG" />
  </div>
  <div>
    <img data-lazy="http://www.onguardapparel.com/images/products/thumb/VIPERPRO81.jpg" />
  </div>
  <div>
    <img data-lazy="http://www.onguardapparel.com/images/products/thumb/garment_bag.jpg" />
  </div>
  <div>
    <img data-lazy="http://www.onguardapparel.com/images/products/thumb/1077.jpg" />
  </div>
</div>
