:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
    padding: 0.8em;
}

.btn {
    display: inline-block;
    text-align: center;
    border: 2px solid #7edd1e;
    background-color: #fff;
    font-size: 2rem;
    padding: .4em .8em;
    cursor: pointer;
    transition-duration: .4s;
}

.btn:hover {
    background-color: #7edd1e;
    color: #fff;
}

header, footer {
    padding: 1.5em;
    background-color: #09c0de;
    color: #fff;
    flex: 0 0 auto;
}