p Hi #{name},
p #{faculty.firstName} #{faculty.lastName} has invited you to: #{appointmentTitle}.
p You can sign up here: <a href={/calendars/appointment/{appointmentId}> Sign up</a>
p Here are available slots: