:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#counter {
  margin-top: .2em;
  font-size: 4rem;
    line-height: .7;
}

.controls {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 2fr) 1fr;
  grid-template-areas: "inc . dec"
}

button {
  display: block;
  padding: 1em 2em;
  font-size: 1.2rem;
  background-color: #fff;
}

button:hover {
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: 0;
}

button:focus {
  outline: 0;
}

#increase {
  border: 2px solid greenyellow;
  grid-area: inc;
}

#increase:hover {
  background-color: greenyellow;
}

#decrease {
  border: 2px solid red;
  grid-area: dec;
}

#decrease:hover {
  background-color: red;
}