<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="/" class="nav-link">
        <span class="title">lawatlife</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="#" class="nav-link">
        <span class="nav-text">info</span>
      </a>
      <a href="#" class="nav-link">
        <span class="nav-text">Portfolio</span>
      </a>
      <a href="#" class="nav-link">
        <span class="nav-text">Contact</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <div class="parallax-container">
        <div class="parallax-img img-fluid"></div>
        <div class="parallax-box">
          <h3 class="parallax-text text-center text-white">
            Hi! My name is Lawrence Khadka, a college freshman. I am a self taught full-stack web developer who is trying
            to learn more about web technologies. I am learning the MEAN stack and Vue.js at present!
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-1 col-md-10 col-sm-12 col-xs-12">
          <h2 class="text-center"><i class="fa fa-briefcase" aria-hidden="true"></i> PORTFOLIO</h2>
          <hr class="after-line">
          <img src="http://placehold.it/350x450">
        </div>
      </div>
    </div>
  </div>
</clr-main-container>
