<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="/" class="nav-link">
        <span class="title">lawatlife</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="#" class="nav-link">
          <span class="nav-text">info</span>
      </a>
      <a href="#" class="nav-link">
        <span class="nav-text">Portfolio</span>
      </a>
      <a href="#" class="nav-link">
        <span class="nav-text">Contact</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    
  </div>
</clr-main-container>
