.parallax {
  height: 500px;
  width: auto;
  text-align: center;
  position: relative;
  top: -24px;
  margin: auto -24px;
}

.parallax-img {
  height: 500px;
  background: url("../assets/river.jpg") no-repeat fixed center;
  background-size: cover;
  filter: blur(2px);
}


.parallax-box {
  position:absolute;
  top: calc(50% - 50px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.parallax-text {
  color: #fff;
  padding: 0 20px;
}

hr {
  margin: 42px 21px 0;
  border-bottom: 1px solid #fafafa;
}

hr.after-line {
  margin: 20px auto 30px;
  padding: 0;
  border: 0;
  border-top: solid 4px;
  text-align: center;
}

hr.after-line:after {
  content: '\f121';
  font-family: FontAwesome;
  font-size: 40px;
  position: relative;
  top: -0.4em;
  padding: 5px;
  background-color: #fafafa;
  color: #424242;
}


