<footer class="footer">
    <h3 class="h4 pull-left">Made With {{fa-icon "heart"}} in Kathmandu</h3>
    <div class="pull-right">
        <a class="social-links" href="https://github.com/LKhadka/Nepal-Portal">{{fa-icon "github" title="Fork me on GitHub!" size=3}}</a>
        <a class="social-links" href="https://facebook.com/sharer.php?u=https://nepalportal.herokuapp.com">{{fa-icon "facebook" title="Share me on Facebook!" size=3}}</a>
        <a class="social-links" href="https://twitter.com/share" class="twitter-share-button" data-url="http://nepalportal.herokuapp.com" data-text="Check out this site!!" title="Retweet me on Twitter!">{{fa-icon "twitter" size=3}}</a>
    </div>
</footer>