<footer class="footer">
    <small>
        Developed by <a href="https://www.facebook.com/lawrence.khadka.7"> Lawrence Khadka</a>
    </small>
    <nav>
        <ul>
            <small>
                <li><a href="">About</a></li>
                <li><a href ="https://lawatlife.wordpress.com/">Blog</a></li>
                <li><a href="https://ekantipur.com"> News</a></li>
            </small>
        </ul>
    </nav>
</footer>