<div id="bubble-flow">
    {{components/bubble-flow}}
</div>
<div class="row">
    <div class="col-md-3 col-xs-1"></div>
    <div class="col-md-6 col-xs-10">
        <h1 class="h2 text-center"> About </h1>
        <h3 class="h4 text-justify">
            <p> This site was developed by Lawrence Khadka. He can be reached
                <a href="https://www.facebook.com/lawrence.khadka.7">here.</a>
            </p>
            <p>You can read all about the
                developer's experience on making this page <a href="https://lawatlife.wordpress.com/">here.</a>
            </p>
        </h3>
    </div>
    <div class="col-md-3 col-xs-1"></div>
</div>
<div id="vis">
    {{components/force-graph}}
</div>