{{#carousel-container transition-interval=100}}
  {{#carousel-body}}
    {{#carousel-item}}
        <div class="wrapper">
            <div class="fix">
                <img class="img-responsive" alt="Back to the Past" title="Back to the Past" src="https://i.imgur.com/V6dsqIU.jpg" />
                <div class="desc">
                    <p class="desc_content">People buying logs for cooking.</p>
                </div>
            </div>
        </div>
    {{/carousel-item}}
    {{#carousel-item}}
        <div class="wrapper">
            <div class="fix">
                <img class="img-responsive" alt="The Daily of an Average Nepalese" title="The Daily of an Average Nepalese" src="https://i.imgur.com/4UltVBU.jpg" />
                <div class="desc">
                    <p class="desc_content">eople rushing to ride the bus.</p>
                </div>
            </div>
        </div>
    {{/carousel-item}}
    {{#carousel-item}}
        <div class="wrapper">
            <div class="fix">
                <img class="img-responsive" alt="Black Marketing" title="Black Marketing" src="https://i.imgur.com/tCJ1RLM.jpg" />
                <div class="desc">
                    <p class="desc_content">A cartoon depicting the current black marketing of fuel in Nepal.</p>
                </div>
            </div>
        </div>
    {{/carousel-item}}
    {{#carousel-item}}
        <div class="wrapper">
            <div class="fix">
                <img class="img-responsive" alt="A Dangerous Ride" title="A Dangerous Ride" src="https://i.imgur.com/cHiy3An.jpg" />
                <div class="desc">
                    <p class="desc_content">A child being carried to the hood of the bus due to the lack of seats.</p>
                </div>
            </div>
        </div>
    {{/carousel-item}}
    {{#carousel-item}}
        <div class="wrapper">
            <div class="fix">
                <img class="img-responsive" alt="A Difficult Time" title="A Difficult Time" src="https://i.imgur.com/BfwDD9S.jpg" />
                <div class="desc">
                    <p class="desc_content">A child cooking food from an almost empty cylinder which is supposed to be replaced soon.</p>
                </div>
            </div>
        </div>
    {{/carousel-item}}
    {{#carousel-item}}
        <div class="wrapper">
            <div class="fix">
                <img class="img-responsive" alt="Left Hanging" title="Left Hanging" src="https://i.imgur.com/Ylk5v33.jpg" />
                <div class="desc">
                    <p class="desc_content">People hanging from a moving bus.</p>
                </div>
            </div>
        </div>
    {{/carousel-item}}
    {{#carousel-item}}
        <div class="wrapper">
            <div class="fix">
                <img class="img-responsive"  alt="A Reflection" title="A Reflection" src="https://i.imgur.com/tQZXvPU.jpg" />
                <div class="desc">
                    <p class="desc_content">Art depicting the current situation of the Nepalese people.</p>
                </div>
            </div>
        </div>
    {{/carousel-item}}
    {{#carousel-item}}
        <div class="wrapper">
            <div class="fix">
                <img class="img-responsive" alt="A Daily Task" title="A Daily Task" src="https://i.imgur.com/kOfvwFv.jpg" />
                <div class="desc">
                    <p class="desc_content">Women struggling to get on the bus. The people are forced to travel in such dangerous ways.</p>
                </div>
            </div>
        </div>
    {{/carousel-item}}
  {{/carousel-body}}

  {{carousel-arrow direction="left" class="line-arrow left"}}
  {{carousel-arrow direction="right" class="line-arrow right"}}
{{/carousel-container}}