<div class="row">
    <div class="col-md-3 col-xs-0"></div>
    <div class="col-md-6 col-xs-12">
        <h1 class="h2">
            Emergency Numbers
        </h1>
        <hr />
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Phone Number
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Police Control Room
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Traffic Police Control Room
                </td>
                <td>
                    103
                </td>
            </tr>
            <tr>
                <td>
                    Fire Fighters
                </td>
                <td>
                    101
                </td>
            </tr>
            <tr>
                <td>
                    Emergency Police Service
                </td>
                <td>
                    4228435
                </td>
            </tr>
            <tr>
                <td>
                    Crime Informtion
                </td>
                <td>
                    4412748
                </td>
            </tr>
            <tr>
                <td>
                    Child Missing
                </td>
                <td>
                    104
                </td>
            </tr>
            <tr>
                <td>
                    Nepal Electricity Authority
                </td>
                <td>
                    4153052
                </td>
            </tr>
            <tr>
                <td>
                    Blood Bank, Pradarshani Marg
                </td>
                <td>
                    4225344
                </td>
            </tr>
            <tr>
                <td>
                    Nepal Red Cross Society, Teku
                </td>
                <td>
                    4270650
                </td>
            </tr>
            <tr>
                <td>
                    Bhaktapur Red Cross
                </td>
                <td>
                    6612266
                </td>
            </tr>
            <tr>
                <td>
                    Army Hospital
                </td>
                <td>
                    4271940
                </td>
            </tr>
            <tr>
                <td>
                    Bir Hospital
                </td>
                <td>
                    4223807
                </td>
            </tr>
            <tr>
                <td>
                    Bhaktapur Cancer Hospital
                </td>
                <td>
                    6611532
                </td>
            </tr>
            <tr>
                <td>
                    Chirayu National Hospital
                </td>
                <td>
                    4382382
                </td>
            </tr>
            <tr>
                <td>
                    Kanti Children Hospital
                </td>
                <td>
                    4411134
                </td>
            </tr>
            <tr>
                <td>
                    Norvic Hospital
                </td>
                <td>
                    4258554
                </td>
            </tr>
            <tr>
                <td>
                    Police Hospital
                </td>
                <td>
                    4412430
                </td>
            </tr>
            <tr>
                <td>
                    Star Hospital, Sanepa
                </td>
                <td>
                    5550197
                </td>
            </tr>
            <tr>
                <td>
                    Teaching Hospital
                </td>
                <td>
                    4412404
                </td>
            </tr>
            <tr>
                <td>
                    Grande Hospital
                </td>
                <td>
                    5159266
                </td>
            </tr>
            <tr>
                <td>
                    Tilganga Hospital
                </td>
                <td>
                    4423684
                </td>
            </tr>
            <tr>
                <td>
                    Hearse (Shav Vahan)
                </td>
                <td>
                    6612266
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 col-xs-0"></div>
</div>