:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    /*flex-direction: row-reverse;*/
    /*justify-content: space-between;*/
}

.box {
    text-align: center;
    padding: 2em;
    color: #fff;
    margin-left: 1.5em;
}

.one {
    background-color: #bada55;
}

.two {
    background-color: #c0ffee;
}

.three {
    background-color: #10aded;
}

.four {
    background-color: #fa5732;
}