<div class="row">
    <div claass="col-md-3">
        <div class="row">
            <div class="col-md-2 col-xs-"></div>
            <div class="col-md-8">
                <h3 class="h4">Distribution Date</h3>
                <select></select>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="h1 text-justify">
            What is Petrol Finder?
        </h2>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-justify">
            Petrol Finder uses the map provided by <a href=”http://openstreetmap.org/”> Open Srreet Map </a> for displaying the petrol pumps where the fuel is going to be distributed for the certain lots of vehicles for specific dates. The list of petrol pumps is provided by Nepal Oil Corporation and can be viewed <a href='http://nepaloil.com.np/news-events/Notice/5/'> here.</a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="text-justify">
            Why?
        </h2>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-justify">
            Currently, Nepal is facing a huge humanitarian crisis due to economic blockade at the southern custom points. There is a complete shortage of fuel.  The fuel crisis has made the lives of the people of Nepal very hard.  People from Kathmandu are forced to buy wood to cook food due to the lack of the cooking gas/Liquified Petroleum Gas (LPG) cylinders.
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-2 col-xs-1"></div>
    <div class="col-md-8 col-xs-10">
        <div class="hidden-xs hidden-sm">
            <div cost-pie-chart-one="" id="pieChart"></div>
        </div>
        <div class="visible-xs visible-sm">
            <div class="text-center">
                <h3 class="h4">
                    Average Monthly Spending of Every Household of Five to Cook Food in 2003
                </h3>
            </div>
            <div id="pie1">
                <div class="hidden" id="tooltip2">
                    <p>
                        <strong>Expenditure: NRS <span style="color: rgb(0,128,128)" id = "value"> x</span></strong>
                    </p>
                </div>
            </div>
            <div class="pull-right">
                <em><small>Source: Amrit M Nakarmi, Professor, Tribhuvan University <br/></small></em>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-1"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-2 col-xs-1"></div>
    <div class="col-md-8 col-xs-10">
        <div class="hidden-xs hidden-sm">
            <div cost-pie-chart-two="" id="pieChart"></div>
        </div>
        <div class="visible-xs visible-sm">
            <div class="text-center">
                <h3 class="h4">
                    Average Monthly Spending of Every Household of Five to Cook Food in 2015
                </h3>
            </div>
            <div id="pie2">
                <div class="hidden" id="tooltip2">
                    <p>
                        <strong>Expenditure: NRS <span style="color: rgb(0,128,128)" id = "value"> x</span></strong>
                    </p>
                </div>
            </div>
            <div class="pull-right">
                <em><small>Source: Amrit M Nakarmi, Professor, Tribhuvan University <br/></small></em>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-1"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="pull-left">
            The economic blockade has increased expenses for the people. The costs of making food have also increased thanks to the skyrocketing inflation and the economic blockade which is evident from the pie chart comparing the cost of making food between 2003 and 2015 .This blockade comes at the time when Nepal is just recovering from the disastrous earthquakes that struck Nepal on April and June.
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <small><em>The Geojson data for the petrol pumps can be downloaded from Nepal Portal's<a href="https://github.com/LKhadka/Nepal-Portal/tree/master/public"> GitHub</a> page. <br/></em><em>The notice about the petrol pumps from NOC can be found<a href="http://nepaloil.com.np/news/details.php?n=84"> here.</a></em></small>
    </div>
</div>
<div class="col-md-1"></div>