function primarySidebar{
    
/* Primary Sidebar */

position: relative;
width: 100px;
height: 1024px;

background: #F6EC15;


/* Nav Item */

position: absolute;
width: 60px;
height: 58px;
left: 22px;
top: 958px;



/* Icon */

position: absolute;
width: 36px;
height: 36px;
left: 32px;
top: 958px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Dark Grey */
background: #48483C;


/* Settiings */

position: absolute;
width: 60px;
height: 22px;
left: 22px;
top: 994px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */

/* Lighter Dark Grey */
background: #6D6C5F;


/* Nav Item */

position: absolute;
width: 56px;
height: 58px;
left: 25px;
top: 168px;



/* Icon */

position: absolute;
width: 36px;
height: 36px;
left: 32px;
top: 168px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 20.83%;
bottom: 20.83%;

/* Lighter Dark Grey */
background: #6D6C5F;


/* Groups */

position: absolute;
width: 56px;
height: 22px;
left: 25px;
top: 204px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */

/* Lighter Dark Grey */
background: #6D6C5F;


/* Nav Item */

position: absolute;
width: 50px;
height: 58px;
left: 27px;
top: 90px;



/* Icon */

position: absolute;
width: 36px;
height: 36px;
left: 33px;
top: 90px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 4.17%;
bottom: 12.5%;

/* Lighter Dark Grey */
background: #6D6C5F;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Events */

position: absolute;
width: 50px;
height: 22px;
left: 27px;
top: 126px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */

/* Lighter Dark Grey */
background: #6D6C5F;


/* Active Nav Item */

position: absolute;
width: 100px;
height: 58px;
left: 0px;
top: 16px;



/* Rectangle */

position: absolute;
width: 100px;
height: 58px;
left: 0px;
top: 16px;

background: #FFF96F;


/* Nav Item */

position: absolute;
width: 46px;
height: 58px;
left: 29px;
top: 16px;



/* Icon */

position: absolute;
height: 36px;
left: 33px;
right: 31px;
top: calc(50% - 36px/2 - 478px);



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 16.67%;

background: #48483C;
border: 1px solid #000000;
box-sizing: border-box;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Home */

position: absolute;
width: 46px;
height: 22px;
left: 29px;
top: 52px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */

/* Dark Grey */
background: #48483C;
}