<div class="row">
    <div class="col-md-2 col-xs-0"></div>
    <div class="col-md-8 col-xs-12">
        <h2>
            Loadshedding Schedule
        </h2>
        <hr />
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active">
                <a data-toggle="tab" href="#group1"> Group 1</a>
            </li>
            <li>
                <a data-toggle="tab" href="#group2"> Group 2</a>
            </li>
            <li>
                <a data-toggle="tab" href="#group3"> Group 3</a>
            </li>
            <li>
                <a data-toggle="tab" href="#group4"> Group 4</a>
            </li>
            <li>
                <a data-toggle="tab" href="#group5"> Group 5</a>
            </li>
            <li>
                <a data-toggle="tab" href="#group6"> Group 6</a>
            </li>
            <li>
                <a data-toggle="tab" href="#group7"> Group 7</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="group1">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            DAY
                        </th>
                        <th>
                            TIME
                        </th>
                        <th>
                            HOURS
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            SUN
                        </td>
                        <td>
                            05:00 am - 02:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            06:00 pm - 10:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MON
                        </td>
                        <td>
                            11:00 am - 07:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TUE
                        </td>
                        <td>
                            03:00 am - 10:00 pm
                        </td>
                        <td>
                            7 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            02:00 pm - 08:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WED
                        </td>
                        <td>
                            06:00 am - 03:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            07:00 pm - 11:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            THU
                        </td>
                        <td>
                            10:00 am - 04:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            08:00 pm - 12:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FRI
                        </td>
                        <td>
                            04:00 am - 12:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            04:00 pm - 10:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAT
                        </td>
                        <td>
                            04:30 am - 11:00 am
                        </td>
                        <td>
                            6 hours 30 min
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            03:00 pm – 09:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="group2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            DAY
                        </th>
                        <th>
                            TIME
                        </th>
                        <th>
                            HOURS
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            SUN
                        </td>
                        <td>
                            04:30 am - 11:00 am
                        </td>
                        <td>
                            6 hours 30 min
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            03:00 pm – 09:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MON
                        </td>
                        <td>
                            05:00 am - 02:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            06:00 pm - 10:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TUE
                        </td>
                        <td>
                            11:00 am - 07:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WED
                        </td>
                        <td>
                            03:00 am - 10:00 pm
                        </td>
                        <td>
                            7 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            02:00 pm - 08:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            THU
                        </td>
                        <td>
                            06:00 am - 03:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            07:00 pm - 11:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FRI
                        </td>
                        <td>
                            10:00 am - 04:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            08:00 pm - 12:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAT
                        </td>
                        <td>
                            04:00 am - 12:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            04:00 pm - 10:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="group3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            DAY
                        </th>
                        <th>
                            TIME
                        </th>
                        <th>
                            HOURS
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            SUN
                        </td>
                        <td>
                            04:00 am - 12:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            04:00 pm - 10:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MON
                        </td>
                        <td>
                            04:30 am - 11:00 am
                        </td>
                        <td>
                            6 hours 30 min
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            03:00 pm – 09:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TUE
                        </td>
                        <td>
                            05:00 am - 02:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            06:00 pm - 10:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WED
                        </td>
                        <td>
                            11:00 am - 07:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            THU
                        </td>
                        <td>
                            03:00 am - 10:00 pm
                        </td>
                        <td>
                            7 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            02:00 pm - 08:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FRI
                        </td>
                        <td>
                            06:00 am - 03:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            07:00 pm - 11:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAT
                        </td>
                        <td>
                            10:00 am - 04:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            08:00 pm - 12:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="group4">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            DAY
                        </th>
                        <th>
                            TIME
                        </th>
                        <th>
                            HOURS
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            SUN
                        </td>
                        <td>
                            10:00 am - 04:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            08:00 pm - 12:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MON
                        </td>
                        <td>
                            04:00 am - 12:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            04:00 pm - 10:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TUE
                        </td>
                        <td>
                            04:30 am - 11:00 am
                        </td>
                        <td>
                            6 hours 30 min
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            03:00 pm – 09:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WED
                        </td>
                        <td>
                            05:00 am - 02:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            06:00 pm - 10:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            THU
                        </td>
                        <td>
                            11:00 am - 07:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FRI
                        </td>
                        <td>
                            03:00 am - 10:00 pm
                        </td>
                        <td>
                            7 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            02:00 pm - 08:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAT
                        </td>
                        <td>
                            06:00 am - 03:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            07:00 pm - 11:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="group5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            DAY
                        </th>
                        <th>
                            TIME
                        </th>
                        <th>
                            HOURS
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            SUN
                        </td>
                        <td>
                            06:00 am - 03:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            07:00 pm - 11:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MON
                        </td>
                        <td>
                            10:00 am - 04:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            08:00 pm - 12:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TUE
                        </td>
                        <td>
                            04:00 am - 12:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            04:00 pm - 10:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WED
                        </td>
                        <td>
                            04:30 am - 11:00 am
                        </td>
                        <td>
                            6 hours 30 min
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            03:00 pm – 09:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            THU
                        </td>
                        <td>
                            05:00 am - 02:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            06:00 pm - 10:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FRI
                        </td>
                        <td>
                            11:00 am - 07:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAT
                        </td>
                        <td>
                            03:00 am - 10:00 pm
                        </td>
                        <td>
                            7 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            02:00 pm - 08:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="group6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            DAY
                        </th>
                        <th>
                            TIME
                        </th>
                        <th>
                            HOURS
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            SUN
                        </td>
                        <td>
                            03:00 am - 10:00 pm
                        </td>
                        <td>
                            7 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            02:00 pm - 08:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MON
                        </td>
                        <td>
                            06:00 am - 03:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            07:00 pm - 11:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TUE
                        </td>
                        <td>
                            10:00 am - 04:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            08:00 pm - 12:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WED
                        </td>
                        <td>
                            04:00 am - 12:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            04:00 pm - 10:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            THU
                        </td>
                        <td>
                            04:30 am - 11:00 am
                        </td>
                        <td>
                            6 hours 30 min
                        </td>
                    </tr>
                    <tr>
                        <td>
                            03:00 pm – 09:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FRI
                        </td>
                        <td>
                            05:00 am - 02:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            06:00 pm - 10:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAT
                        </td>
                        <td>
                            11:00 am - 07:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="group7">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            DAY
                        </th>
                        <th>
                            TIME
                        </th>
                        <th>
                            HOURS
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            SUN
                        </td>
                        <td>
                            11:00 am - 07:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MON
                        </td>
                        <td>
                            03:00 am - 10:00 pm
                        </td>
                        <td>
                            7 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            02:00 pm - 08:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TUE
                        </td>
                        <td>
                            06:00 am - 03:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            07:00 pm - 11:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WED
                        </td>
                        <td>
                            10:00 am - 04:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            08:00 pm - 12:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            THU
                        </td>
                        <td>
                            04:00 am - 12:00 pm
                        </td>
                        <td>
                            8 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            04:00 pm - 10:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FRI
                        </td>
                        <td>
                            04:30 am - 11:00 am
                        </td>
                        <td>
                            6 hours 30 min
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            03:00 pm – 09:00 pm
                        </td>
                        <td>
                            6 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAT
                        </td>
                        <td>
                            05:00 am - 02:00 pm
                        </td>
                        <td>
                            9 hours
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            06:00 pm - 10:00 pm
                        </td>
                        <td>
                            4 hours
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <em>Current Schedule has been effective since 2072-9-20 BS (2016-01-04 AD)</em>
        </div>
    </div>
    <div class="col-md-2 col-xs-0"></div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="h1 text-justify">
            A Look at Load Shedding
        </h2>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-justify">
            The Nepalese people are currently facing eleven to twelve hours of load shedding each day which is most likely to go up in the coming days. Nepal generates 762 MW of hydroelectricity. But during winter, power generation capacity dips by more than half because most of the hydro projects in operation are run-of-the-river.
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-justify">
            Run-of-the-river hydro projects generate electricity whenever there is water in the river. So, as soon as water level dips, electricity production from these projects falls. This problem is become even worse during this winter because several hydro plants that were damaged during earthquakes of April and May have reduced power generation by 80 MW.
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-center">
            <h3 class="h4">
                Power Generation and Consumption for Summers and Winters of 2015 and 2018* Respectively
            </h3>
        </div>
        <div class="bar-chart">
            {{components/power-bar-chart}}
        </div>
        <div class="pull-right">
            <em>Source: Nepal Electricity Authority (NEA)/THT<br/></em><small><em> *Expected </em></small>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-justify">
            Nepal Electricity Authority (NEA), the state-owned power utility company, expects to generate only 327 MW of electricity this winter whereas the peak electricity demand currently stands at around 1,500 MW. NEA expects to add 821 MW to the national grid within two to three years but they are all from run-of-the-river plants whose production would fall to 215 MW during winter.Nepal has been seeing a growth of 7.56 percent growth in peak hour electricity consumption in 2015.
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="text-justify">
            Currently, a hydro project developer has to make rounds of seven ministries and 23 government departments and deal with 36 different laws prior to beginning construction of hydro projects.  Nepal could reduce its petroleum bills by Rs 50 billion (approx. &dollar; 470 milliion) if it can add 1,300 MW of electricity. The investment needed to generate this quantity of electricity is Rs 210 billion (approx. &dollar; 4.4 billion) but it would save the nation Rs 1 trillion (approx. &dollar; 9.4 billion) over the next twenty years and cut the reliance on fossil fuels.
        </div>
    </div>
    <div class="col-md-1"></div>
</div>